.yellow-bg{
    background: yellow;
}
.alert-box {
    background: #b5b5e8;
    color: blue;
    padding: 20px;
    border-radius: 5px;
    display: none;
    margin-bottom: 10px;
}
.alert-box p{
    display: inline;
}
.main-background{
    background-image: url("images/images1.jpg");
    background-size: cover;
    color: black;
    border-radius: 0px;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s;
    transform: translateY(-1000px);
}
.white-background{
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
.nav-menu{
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
    color: white;
    clear: both;
}
.nav-menu a{
    position: absolute;
    top: 5%;
    right: 0;
}
#login{
    right: 6.75%;
}
#nav-sub-button{
    right: 0.8%;
    cursor: pointer;
    position: absolute;
}
.nav-sub{
    display: none;
}
.nav-black{
    background: white;
    color: black;
}
#email-alert,#password-alert{
    display: none;
}
.left-menu{
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px;
}
.slide-down{
    transform: translateY(0px);
}

.slide-container{
    width: 300vw;
    transition: transform 0.8s;
}
.slide-box{
    width: 100vw;
    height: 90vh;
    float: left;
}
.slide-box img {
    width: 100%;
    left: 10%;
}
.slide-next{
    position: absolute;
    top: 45%;
    right: 0;
    border: none;
    background: none;
    font-size: 40px;
}
.slide-prev{
    position: absolute;
    top: 45%;
    left: 0;
    border: none;
    background: none;
    font-size: 40px;
}
.navFont{
    font-size: 30px;
    transition: all 0.5s;
}
.small-logo{
    font-size: 20px;
}
ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
ul.list::after {
    content: '';
    display: block;
    clear: both;
}
.tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.active {
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
}
.tab-content {
    display: none;
    padding: 10px;
}
.show {
    display: block;
}
.size-select{
    display: block;
}
.grey{
    background: lightgrey;
    height: 1500px;
}
.imageGrid{
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
}
.textImg{
    float: left;
    width: 600px;
    margin-left: 30px;
}
.card-background{
    height: 2000px;
    margin-top: 100px;
}
.card-box{
    position: sticky;
    top: 300px;
    transition: all 0.2ms;
}
.card-box img{
    display: block;
    margin: auto;
    max-width:80%;
}
#option1{
    margin-bottom: 5px;
}
.category-text{
    font-weight: bold;
}
select option[value=""][disabled]{
    display: none;
}